site_name: "Keystone Documentation"
site_author: Better HPC LLC
site_description: A unified HPC management platform.

theme:
  name: material
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - content.code.copy
    - search.suggest
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
extra_css:
  - assets/css/full_width_tables.css
  - assets/css/hide_logo.css
plugins:
  - include-markdown
  - mkdocstrings:
      handlers:
        python:
          options:
            allow_inspection: false
            show_bases: false
            show_source: false
  - monorepo
  - search
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - tables
  - toc:
      permalink: true
extra:
  generator: false
extra_javascript:
  - assets/js/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
nav:
  - Keystone:
    - Introduction: index.md
    - architecture.md
  - Cluster Agent: '!include docs/submodules/keystone-agent/mkdocs.yml'
  - Backend API: '!include docs/submodules/keystone-api/mkdocs.yml'
  - Web Interface: '!include docs/submodules/keystone-web/mkdocs.yml'
  - API Client: '!include docs/submodules/keystone-python-client/mkdocs.yml'
copyright: Copyright &copy; 2026 Better HPC
